<a class="mask"></a>

<script>
    var body = document.body

    document.querySelector('.aside-toggle').addEventListener('click', function(e) {
        e.preventDefault()
        toggleNav()
    }, false)

    document.querySelector('.mask').addEventListener('click', toggleNav, false)

    function toggleNav() {
        body.classList.toggle('opened')
    }

    [].slice.call(document.querySelectorAll('.post-content a')).forEach(function(a) {
        a.setAttribute('target', '_blank')
    })
</script>
