.wrapper {
    width: 60%;
    box-sizing: border-box;
    padding: 100px 20px 100px;
    margin: 0 auto;
    animation: show 1000ms ease;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
